#root {
  background-color: black;
  color: rgba(248, 255, 255, 1);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  text-decoration-line: none;
  color: rgba(248, 255, 255, 1);
  margin: 5px;
}

/* body {
  background-image: url("../../images/background.jpg");
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
/* background-position: center;
background-size: cover; */
/* }  */

body {
  background-color: black;
}

h1 {
  display: flex;
  justify-content: center;
}

#gallery {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.images {
  width: 250px;
  height: 250px;
  margin: 5px;
  object-fit: cover;
}
.github {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 90%;
  margin: 10px;
  align-items: center;
}
.linkedin {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 90%;
  margin: 10px;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

.nav-link-custom {
  display: flex;
  flex-direction: flex-end;
  color: white;
  -webkit-text-stroke: 1px #f8f8f8;
  text-shadow: 0px 2px 4px blue;
}
.headerHero {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.nameKyle {
  display: flex;
  justify-content: center;
  background-image: url(https://media.giphy.com/media/4bhs1boql4XVJgmm4H/giphy.gif);
  /* background-size: ; */
  background-position: 200px center;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 80px;
  margin: 10px 0;
  font-family: Monaco;
}

.fullHeader {
  background-color: black;
}

.link1Container,
.link2Container,
.link3Container,
.link4Container,
.link5Container,
.link6Container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 33%;
}

.link1,
.link2,
.link3,
.link4,
.link5,
.link6 {
  display: none;
}

.link1Container:hover .link1,
.link2Container:hover .link2,
.link3Container:hover .link3,
.link4Container:hover .link4,
.link5Container:hover .link5,
.link6Container:hover .link6 {
  transition: ease;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", Times, serif;
  color: #f8f8f8;
  background-color: rgba(54, 255, 255, 0.5);
  width: 56%;
  height: 97%;
  align-items: center;
  justify-content: center;
  transition: 500ms linear;
}

.nameInput {
  width: 300px;
}
/* .nameInput:hover {
  width: 300px;
  border: 4px;
  border-radius: 10px;
  border-style: double;
  border-color: rgba(54, 255, 255, 1);
} */

.emailInput {
  width: 300px;
}
.messageInput {
  width: 600px;
  height: 100px;
}
.subBtn {
  width: 100px;
  margin: 5px;
  margin-left: 0px;
}

/* p {
  background-image: url(https://media.giphy.com/media/4bhs1boql4XVJgmm4H/giphy.gif);
  /* background-size: ; */
/* background-position: 200px center;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
} */
.self {
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  float: left;
  margin: 5px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 560px) {
  .link1Container,
  .link2Container,
  .link3Container,
  .link4Container,
  .link5Container,
  .link6Container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .self {
    display: flex;
    justify-content: center;
  }
  .link1Container:hover .link1,
  .link2Container:hover .link2,
  .link3Container:hover .link3,
  .link4Container:hover .link4,
  .link5Container:hover .link5,
  .link6Container:hover .link6 {
    transition: ease;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Times New Roman", Times, serif;
    color: #f8f8f8;
    background-color: rgba(54, 255, 255, 0.5);
    width: 80%;
    height: 97%;
    align-items: center;
    justify-content: center;
    transition: 500ms linear;
  }
  .nameKyle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
